[profile.default]
src = "src"
out = "out"
libs = ["node_modules", "lib"]
solc_version = "0.8.26"
evm_version = "paris"
optimizer = true
optimizer_runs = 23000

[profile.snapshot]
match_test = "performUpkeep|bridge|ccipReceive|setEarmarks|revertEarmarks|withdraw_MultipleServiceProviders"
no_match_test = "RevertWhen"

[fmt]
line_length = 120
tab_width = 2
multiline_func_header = 'params_first'
quote_style = 'double'
wrap_comments = true
sort_imports = true
# https://book.getfoundry.sh/reference/config/formatter

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
[rpc_endpoints]
mainnet = "${MAINNET_RPC_URL}"

[invariant]
fail_on_revert = true
